# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Built artifacts 
library
docs/swagger

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VSCode workspace
*.code-workspace
